body{
    font-family: "Poppins", sans-serif;
}

.nav-link .far{
    font-size: 12px !important;
}

.nav-treeview{
    padding: 0 20px !important;
    font-size: 14px !important;
}

a{
    text-decoration: none;
}