body {
    font-family: "Poppins", sans-serif;
    font-size: 12px !important;
}

::-webkit-input-placeholder {
    /* Edge */
    font-size: 12px;
    text-indent: 8px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px;
    text-indent: 8px;
}

::placeholder {
    font-size: 12px;
    text-indent: 8px;
}

a {
    text-decoration: none !important;
}
